<plugin name='gorm-couchdb' version='0.3' grailsVersion='1.1.1 &gt; *'>
  <author>Warner Onstine, Cory Hacking</author>
  <title>Grails CouchDB Plugin</title>
  <description>\
A plugin that emulates the behavior of the GORM-Hibernate plugin against a CouchDB document-oriented database
</description>
  <documentation>http://grails.org/GormCouchdb+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.acme.Contact</resource>
    <resource>org.acme.NotCouchdb</resource>
    <resource>org.acme.Project</resource>
    <resource>org.acme.Task</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.1 &gt; *' />
  </dependencies>
</plugin>